
.logsec{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
/* width: 450px;
height: 400px; */
width: 40%;
height: 60%;
background-color: rgb(114, 114, 114);
box-shadow: 5px 5px 5px 5px;
border-radius: 15px 15px 15px 15px;
}
.h1L{
    color: white;
    margin-left: 30%;
   
}
.label_email{
    
position: absolute;
left: 11%;
top: 20%;
    font-size: 20px;
    font-weight: 500;
}

.input_email{
    
    width: 80%;
    height: 13%;

margin-left: 10%;
    margin-top: 12%;
    border: solid rebeccapurple;
    border-radius: 10px 10px 10px 10px;
}

.input_password{

    width: 80%;
    height: 13%;
    margin-left: 10%;
    margin-top: 10%;
    border: solid rebeccapurple;
    border-radius: 10px 10px 10px 10px;
}
.label_password{

position: absolute;
left: 11%;
top: 45%;
    font-size: 20px;
    font-weight: 500;
}
.input_sumbit{
    height: 15%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,200%);
    font-weight: 600;
    border-radius: 15px 15px 15px 15px;
    border: none;
    background-color: white;
}

.input_sumbit:hover{
    background-color: black;
    color: white;
}
    



/* .label_email{
    position: absolute;
    left: 11%;
    margin-top: 4%;
    font-size: 30px;
    font-weight: 500;
}
.input_email{
    position: absolute;
    width: 80%;
    height: 13%;

    left: 10%;
    margin-top: 12%;
    border: solid rebeccapurple;
    border-radius: 10px 10px 10px 10px;
}


.label_password{
    position: absolute;
    left: 11%;
    margin-top: 25%;
    font-size: 30px;
    font-weight: 500;
}

.input_password{
    position: absolute;
    width: 80%;
    height: 13%;
    left: 10%;
    margin-top: 33%;
    border: solid rebeccapurple;
    border-radius: 10px 10px 10px 10px;
}

.input_sumbit{

}


 */



















/* .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  input[type="text"], input[type="password"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }
   */














/* #con{
    background-color: rgb(226, 225, 225);
   box-shadow: 5px 5px 5px 5px gray;
   border-radius: 5px;
   
}

#h{
    color: rgb(117, 116, 116);
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#res{
display: none;
border: none;
} */